@{
    ViewBag.Title = "存储过程测试";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap" id="form">
    <div class="col-xs-12 lr-form-item" data-table="product">
        <div class="lr-form-item-title">productName</div>
        <input id="productName" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="product">
        <div class="lr-form-item-title">productKind</div>
        <input id="productKind" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="product">
        <div class="lr-form-item-title">productCycle</div>
        <input id="productCycle" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="product">
        <div class="lr-form-item-title">allocateCycle</div>
        <input id="allocateCycle" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="product">
        <div class="lr-form-item-title">maxProfit</div>
        <input id="maxProfit" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="product">
        <div class="lr-form-item-title">minProfit</div>
        <input id="minProfit" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="product">
        <div class="lr-form-item-title">maxAmount</div>
        <input id="maxAmount" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="product">
        <div class="lr-form-item-title">minAmount</div>
        <input id="minAmount" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="product">
        <div class="lr-form-item-title">factAmount</div>
        <input id="factAmount" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="product">
        <div class="lr-form-item-title">deptNo</div>
        <input id="deptNo" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="product">
        <div class="lr-form-item-title">productManager</div>
        <input id="productManager" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="product">
        <div class="lr-form-item-title">accountId</div>
        <input id="accountId" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="product">
        <div class="lr-form-item-title">seriesId</div>
        <input id="seriesId" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="product">
        <div class="lr-form-item-title">beginDate</div>
        <input id="beginDate" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="product">
        <div class="lr-form-item-title">investWay</div>
        <input id="investWay" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="product">
        <div class="lr-form-item-title">endDate</div>
        <input id="endDate" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="product">
        <div class="lr-form-item-title">productTag</div>
        <input id="productTag" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="product">
        <div class="lr-form-item-title">allocateDate</div>
        <input id="allocateDate" type="text" class="form-control" />
    </div>
    <div class="col-xs-12 lr-form-item" data-table="product">
        <div class="lr-form-item-title">productStatus</div>
        <input id="productStatus" type="text" class="form-control" />
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/Product/Form.js")