<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="BaseDb" connectionString="Server=10.11.8.202;Initial Catalog=LearunFramework_Base_2017;User ID=sa;Password=3*db@cofco" providerName="System.Data.SqlClient" />
  <!--<add name="BaseDb" connectionString="Server=8A28;Initial Catalog=LearunFramework_Base_61;User ID=sa;Password=123456.com" providerName="System.Data.SqlClient" />-->
  <!--<add name="BaseDb" connectionString="Server=192.168.0.12;Initial Catalog=LearunFramework_Base_2017;User ID=sa;Password=SQLserver2learun.com" providerName="System.Data.SqlClient" />-->
  <!--<add name="BaseDb" connectionString="Server=293E;Initial Catalog=LearunFramework_Base_2017;User ID=sa;Password=123456.com" providerName="System.Data.SqlClient" />-->
  <!--<add name="BaseDb" connectionString="server=192.168.0.4;user id=learun;password=learun.com;database=LeaRunFramework_Base_2016;charset=utf8" providerName="MySql.Data.MySqlClient" />-->
  <!--<add name="BaseDb" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.12 )(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=LEARUN)));User Id=learun;Password=qwert12345;" providerName="Oracle.ManagedDataAccess.Client"/>-->
  <add name="account" connectionString="Server=10.11.8.202;Initial Catalog=Learun_account;User ID=sa;Password=SQLserver2learun.com" providerName="System.Data.SqlClient" />
  <add name="BaseDb1" connectionString="Server=8A28;Initial Catalog=LearunFramework_Base_61;User ID=sa;Password=123456.com" providerName="System.Data.SqlClient" />
</connectionStrings>